<div class="dipayan123 clearfix">
  <div class="col-md-3">
    <div class="row">
      <div class="hv-dropdown tables-dropdown">
        {{#link-to "databases.database.tables.new" class="btn btn-success"}}{{fa-icon "plus"}}{{/link-to}}
      </div>

      {{#list-filter header="tables" items=model
      placeholder="Search"
      as |filteredItems|}}
        {{#list-group class="table-list" items=filteredItems as |item|}}
          {{list-item item=item itemClicked="tableSelected"}}
        {{/list-group}}
      {{/list-filter}}

    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      {{outlet}}
    </div>
  </div>

</div>



