<div class="col-md-3">
  <div class="row">
    {{#list-filter header="tables" items=model
        placeholder="Search"
        as |filteredItems|}}
      {{#list-group items=filteredItems as |item|}}
        {{list-item item=item itemClicked="tableSelected"}}
      {{/list-group}}
    {{/list-filter}}
  </div>
</div>
<div class="col-md-9">
  <div class="row">
    {{outlet}}
  </div>
</div>



