<div class="container-fluid">
  {{top-application-bar}}
  {{#tabs-pane tabs=tabs as |tab|}}
    {{tabs-item tab=tab tabs=tabs}}
  {{/tabs-pane}}
  <h1>Dipayan Bhowmick</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorum nam neque perferendis provident ullam
    velit vitae. Architecto nostrum numquam similique. Ad at debitis facere fugit magni mollitia perferendis ut?</p>
  <button class="btn btn-sm btn-success">{{fa-icon "eye" size=lg}} Eye</button>
</div>