@import 'bootstrap-overrides';
@import 'fonts';




.main-wrapper {
  padding: 5px 0;
  background-color: #fff;
  height: 100%;
}

$database-search-background: lighten($body-bg, 10%);
$database-search-text-color: $gray;
.database-search {
  color:  $database-search-text-color;
  padding: 10px;
  border: 1px solid darken($database-search-background, 25%);
  background-color: $database-search-background;
  border-collapse: collapse;

  p {
    margin-bottom: 5px;
  }

  .btn {
    color: $database-search-text-color;
  }
}

.database-search-drawer {
  position: absolute;
  max-height: 300px;
  width: calc(100% - 157px);
  z-index: 1000;
  background-color: $database-search-background;
  border: 1px solid darken($database-search-background, 25%);
  overflow-y: auto;
  border-top: none;

  .list-group {
    margin: 0;
    font-size: 1.2em;
    .list-group-item {
      border-color: darken($database-search-background, 10%);
      i {
        &.noshow {
          visibility: hidden;
        }
      }
    }
  }
}

$list-filter-header-background: lighten($body-bg, 10%);
$list-filter-text-color: $gray;

.list-filter {
  color:  $list-filter-text-color;
  .list-header {
    p {
      margin: 0;
    }
    padding: 15px 10px;
    background-color: $list-filter-header-background;
    border: 1px solid darken($list-filter-header-background, 15%);
  }
  .am-view-list-item {
    &.active {
      color: inherit;
      background-color: #FEF5DD;
      border: 1px solid darken($list-filter-header-background, 15%);
    }
  }
}

.search-bar {
  padding: 0 10px;
  background-color: darken($list-filter-header-background, 10%);
  position: relative;
  input {
    width: calc(100% - 2.5em);
    height: 2.8em;
    background-color: transparent;
    border: none;
    margin-right: 10px;
    outline: none;
  }

  a {
    color: inherit;
  }
}

$table-info-background: lighten($body-bg, 10%);
.table-info {

  background-color: $body-bg;
  .table-header {
    border: 1px solid darken($table-info-background, 15%);
    p {
      margin: 0;
    }
    padding: 15px 15px;
    background-color: $table-info-background;
  }
  .table-body {
    table {
      background-color: $table-info-background;
      margin: 0;
      border: none;

      thead {
        background-color: $gray-dark;
        color: #fff;
      }
    }
  }
}

