<div class="col-md-12 table-info">
  <div class="table-header row">
    <p class="text-uppercase">table<strong>&nbsp;&nbsp;>&nbsp;&nbsp;create table</strong></p>
  </div>
  <div class="table-body">
    {{create-table tabs=tabs}}
  </div>
</div>