<div class="col-md-12 table-info">
  {{#if showCreateTableModal}}
    {{#modal-dialog
      translucentOverlay=true
      container-class="modal-dialog modal-sm"}}
      <div class="modal-content">
        <div class="modal-header text-danger">
          <p class="modal-title">{{fa-icon "plus"}}&nbsp;&nbsp;&nbsp; Create table</p>
        </div>
        <div class="modal-body text-center text-primary">
          <p>{{createTableMessage}}</p>
        </div>
      </div><!-- /.modal-content -->
    {{/modal-dialog}}
  {{/if}}
  <div class="table-header row">
    <p class="text-uppercase">table<strong>&nbsp;&nbsp;>&nbsp;&nbsp;create table</strong></p>
  </div>
  <div class="table-body">
    {{create-table tabs=tabs
                   cancel="cancel"
                   create="create"}}
  </div>
</div>