<div class="col-md-12 table-info">
  <div class="table-header row">
    <p class="text-uppercase">table<strong>&nbsp;&nbsp;>&nbsp;&nbsp;{{model.name}}</strong></p>
  </div>
  <div class="table-body">
    {{#tabs-pane tabs=tabs inverse= true as |tab|}}
      {{tabs-item tab=tab tabs=tabs}}
    {{/tabs-pane}}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium adipisci beatae blanditiis cumque deleniti ducimus explicabo impedit incidunt inventore ipsa necessitatibus, nihil nulla quidem reiciendis reprehenderit rerum sed tempore?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium adipisci beatae blanditiis cumque deleniti ducimus explicabo impedit incidunt inventore ipsa necessitatibus, nihil nulla quidem reiciendis reprehenderit rerum sed tempore?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium adipisci beatae blanditiis cumque deleniti ducimus explicabo impedit incidunt inventore ipsa necessitatibus, nihil nulla quidem reiciendis reprehenderit rerum sed tempore?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium adipisci beatae blanditiis cumque deleniti ducimus explicabo impedit incidunt inventore ipsa necessitatibus, nihil nulla quidem reiciendis reprehenderit rerum sed tempore?</p>
  </div>


</div>
