<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th width="30%">COLUMN NAME</th>
    <th width="25%">DATA TYPE</th>
    <th width="25%">SIZE</th>
    <th width="5%" class="text-center">ADVANCED</th>
    <th width="15%" class="text-center">ACTION</th>
  </tr>
  </thead>
  <tbody>
  {{#each columns as |column|}}
    {{column-item column=column
                  columnDeleted="columnDeleted"
                  columnUpdated="columnUpdated"
    }}
  {{/each}}
  <tr class="new-settings text-center">
    <td colspan="5">
      <a {{action "addNewColumn"}}>{{fa-icon "plus"}} Add New Column</a>
    </td>
  </tr>
  </tbody>
</table>
