<h3 class="clearfix">
  <strong>HIVE</strong>
  <span class="pull-right">
    <button class="btn btn-sm btn-success">{{fa-icon "plus"}} NEW JOB</button>
    <button class="btn btn-sm btn-success">{{fa-icon "plus"}} NEW TABLE</button>
  </span>
</h3>
